doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add Ingredients
    body
      form(action="/backoffice/add-ingredient", method="post")
        div.form-group
          label(for="name") Name
          input.form-control(type="text", name="name", placeholder="Name")
          button(type="submit") Add