doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Add Recipe 
        form(action="/backoffice/add-recipe", method="POST", enctype="multipart/form-data")
            label(for="name") Name
            input(type="text", name="name")  
            label(for="procedure") Procedure
            textarea(name="procedure", cols="30", rows="10")
            label(for="photo") Photo
            input(type="file" name="photo" accept="image/png, image/jpeg")
            button Add